.root {
  display: flex;
  flex-direction: column;
}

.empty {
  padding: 3rem;
  text-align: center;
  color: var(--text-dim);
  font-size: 0.85rem;
}

@media (max-width: 640px) {
  .root {
    flex-direction: column;
  }
}
